{% extends "base.html" %}

{% block content %}

<h2 class="section-title">Available Automation Tools</h2>

<div class="tools-grid">

    <!-- Invoice Tool -->
    <div class="tool-card">
        <h3>Invoice Automation</h3>
        <p>Upload Excel/CSV and download all invoices in one ZIP.</p>

        <form action="/invoice" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Generate Invoices</button>
        </form>
    </div>
    <div class="tool-card">
    <h3>CSV Cleaner</h3>
    <p>Clean messy CSV files instantly.</p>

    <form action="/csv-cleaner" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Clean CSV</button>
    </form>
</div>
    <div class="tool-card">
    <h3>PDF to Excel</h3>
    <p>Extract tables from PDF into Excel file.</p>

    <form action="/pdf-to-excel" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="submit">Convert PDF</button>
    </form>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<button id="payBtn" disabled>Pay ₹20 to Download</button>
<script>
let filePath = "";

function enablePayment(path) {
    filePath = path;
    document.getElementById("payBtn").disabled = false;
}

document.getElementById("payBtn").onclick = async function () {

    const res = await fetch("/create-order", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            amount: 49,
            tool: "invoice",
            file_path: filePath
        })
    });

    const data = await res.json();

    var options = {
        "key": data.key,
        "amount": data.amount,
        "currency": "INR",
        "name": "Automation Platform",
        "description": "Invoice Download",
        "order_id": data.order_id,
        "handler": function (response) {
            alert("Payment successful. Download link will open.");
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();
};
</script>


{% endblock %}

